/* WIDTH */

@media (max-width: 768px) {
    iframe {
        width: 608px !important;
        height: 332px !important;
    }

    .video__heading,
    .second .live__heading {
        font-size: 1.5rem;
    }

    .second .live__heading {
        margin-bottom: 1rem;
    }

    .first .video__arrow-down a {
        font-size: 3rem;
    }

    .live__row {
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 619px) {
    iframe {
        width: 456px !important;
        height: 249px !important;
    }
}

@media (max-width: 576px) {

    .video__heading,
    .second .live__heading,
        {
        font-size: 1rem;
    }

    .footer__headings {
        font-size: 0.75rem;
    }

    .second .live__heading {
        margin-bottom: 0.25rem;
    }

    .live__row {
        font-size: 0.75rem;
    }

    .first .video__arrow-down a {
        font-size: 3rem;
    }

    .live__row {
        padding: 0.25rem;
        margin-bottom: 0.25rem;
    }
}

@media (max-width: 492px) {

    .first {
        padding-top: 75px;
    }

    header {
        padding-top: 0.25rem;
        height: 75px;
        justify-content: center;
    }

    header .ns_logo {
        margin-left: 0;
    }
}

@media (max-width: 464px) {
    iframe {
        width: 342px !important;
        height: 186px !important;
    }
}

@media (max-width: 349px) {
    iframe {
        width: 307px !important;
        height: 167px !important;
        border-left: none;
        border-right: none;
    }
}

@media (max-width: 319px) {
    iframe {
        display: none;
    }
}

/* HEIGHT */

@media (max-height: 571px) {
    @keyframes upAndDown {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(0);
        }
    }
}

@media (max-height:550px) {

    .video__heading:nth-of-type(1) {
        margin-top: 1rem;
    }

    .first .video__arrow-down {
        display: none;
    }

    .first {
        height: 100%;
    }

    .second {
        padding-top: 4rem;
        height: 100%;
    }

    .footer {
        margin-top: 1rem;
        position: static;
    }
}