@font-face {
    font-family: 'Coves Light';
    src: url('/webfonts/Coves\ Light.otf');
}

@font-face {
    font-family: 'Nexa Bold';
    src: url('/webfonts/Nexa\ Bold.otf');
}

body {}

/* GLOBAL */
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    font-family: 'Coves Light', sans-serif;
}

.text-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* end GLOBAL */

/* HEADER */
header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
        margin: 0;
        text-transform: uppercase;
        margin-left: 15px;
    }

    .nav_items {}

    .nav_items ul {
        margin: 0;
        padding: 0;
    }

    .nav_items li {
        list-style: none;
        float: left;
    }
}

.social_icons {
    width: 35px;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/* end HEADER */


/* SECTION FIRST */
.first {
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    background-color: rgba(215, 76, 69, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    .video__heading {
        color: #fff;
        text-align: center;
        text-transform: uppercase;

        span {
            font-family: 'Nexa Bold', sans-serif;
        }
    }

    iframe {
        border: 10px solid #fff;
    }

    .video__arrow-down {
        text-align: center;
        animation: upAndDown 5s infinite;

        a {
            color: #fff;
            font-size: 4rem;
        }
    }
}

@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(0);
    }
}


/* end SECTION FIRST */
/* SECTION SECOND */
.second {
    width: 100%;
    height: 100vh;
    background-color: rgba(215, 76, 69, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .live__heading {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2rem;
        color: #fff;
    }

    .container {
        font-family: 'Coves Light', sans-serif;
    }
}

.live__row {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #fff;

    a {
        color: #fff;
    }

}

.footer {
    color: #fff;

}

/* end SECTION SECOND */