@font-face {
    font-family: 'Coves Light';
    src: url('/webfonts/Coves\ Light.otf');
}

@font-face {
    font-family: 'Coves Bold';
    src: url('/webfonts/Coves\ Bold.otf');
}

@font-face {
    font-family: 'Nexa Bold';
    src: url('/webfonts/Nexa\ Bold.otf');
}

@font-face {
    font-family: 'Gotham Light';
    src: url('/webfonts/Gotham\ Light\ Regular.otf');
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/webfonts/Gotham\ Light\ Regular.otf')
}



body {}

/* GLOBAL */
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    font-family: 'Coves Light', sans-serif;
}

.text-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* end GLOBAL */

/* HEADER */
header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;

    h4 {
        margin: 0;
        text-transform: uppercase;
        margin-left: 15px;
        font-family: 'Coves Bold', sans-serif;
    }

    .nav_items ul {
        margin: 0;
        padding: 0;
    }

    .nav_items li {
        list-style: none;
        float: left;
    }
}

.social_icons {
    width: 35px;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/* end HEADER */


/* SECTION FIRST */
.first {
    padding-top: 50px;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background-color: rgba(215, 76, 69, 1);
    display: flex;
    justify-content: center;
    align-items: center;


    .video__heading {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0;

        span {
            font-family: 'Nexa Bold', sans-serif;
        }
    }

    .last {
        margin-bottom: 0.5rem;
    }

    iframe {
        border: 10px solid #fff;
        width: 760px;
        height: 415px;
    }

    .video__arrow-down {
        text-align: center;
        animation: upAndDown 5s infinite;
        margin-bottom: 2rem;

        a {
            color: #fff;
            font-size: 4rem;
        }
    }
}

.fito-logo {
    width: 30%;
    margin: 0 auto;
}

@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(0);
    }
}


/* end SECTION FIRST */
/* SECTION SECOND */
.second {
    width: 100%;
    height: 100vh;
    background-color: rgba(215, 76, 69, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;


    .live__heading {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2rem;
        color: #fff;
    }
}

.live__row {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #fff;

    a {
        color: #fff;
    }

    .btn-buy {
        border: 1px solid white;
        box-shadow: 0px 0 4px 1px white;
    }

    .btn-buy:hover {
        background-color: white;
        color: black;
    }

}



/* end SECTION SECOND */
/* SECTION THIRD */
.third {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background-color: rgba(215, 76, 69, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .videos__heading {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2rem;
        color: #fff;
    }
}

.videos {
    h4 {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    margin-bottom: 10rem;
}



.all_video__row {
    margin: 0 auto !important;
    justify-content: center;

    iframe {
        width: 560px;
        height: 315px;
    }
}



/* end SECTION THIRD */

/* SECTION FOURTH  */

.four {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background-color: rgba(215, 76, 69, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .store__heading {

        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2rem;
        color: #fff;

    }
}

#product-component-81117beabe1 {
    margin: 0 auto !important;
}
.shopify-buy__product__title {
    color: #fff !important;
}



.footer {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 25%;
}


/* end SECTION FOURTH  */